---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <div class="container">
            <h2 class="font-bold mb-6">My CV is here</h2>
            <section>
                <h3 class="font-bold">ANGELA LOPEZ</h3>
                <p class="mb-6 bloo">Software Developer</p>
                <h4 class="font-bold">Summary</h4>
                <p class="p-color mb-6">Software developer that is Front End focused but with Full Stack experience,  with a deep interest in contributing to open source software. Proven track record of creating and implementing successful front and back end web applications.</p>
                <h4 class="font-bold mb-6">WORK EXPERIENCE</h4>
                <div>
                    <h5 class="font-bold">Software Engineer at 100Devs | remote</h5>
                    <span class="bloo">
                        January 2022 — Present
                    </span>
                    <ul>
                        <li>
                            <p class="p-color ml-8 my-2">
                                Collaborated with a team of developers to build modern and responsive web applications using best practices 
                            </p>
                            <p class="p-color ml-8">
                                Built semantically structured full stack web applications
                            </p>
                        </li>
                        <li></li>
                    </ul>
                    <p class="p-color my-4"><b>Recent projects:</b> BoJack Horseman API, book tracker, Shortly (url shortener), Amigas y Rivales API (Fausto Frases), NASAPI Web App with NASA API integration, Yu-Gi Go Get, poke-a-piew, on-demand background color changer for Partnered Twitch streamer, and many more.</p>
                </div>
                <div>
                    <h5 class="font-bold">
                        Software Developer, Freelance | Santiago, Chile.
                    </h5>
                    <span class="bloo">
                        July  2021 — October 2021
                    </span>
                    <ul>
                        <li>
                            <p class="p-color ml-8 my-2">Collaborated with musicians to create an audio visualization software that is responsive to perceived volume and frequencies</p>
                        </li>
                        <li>
                            <p class="p-color ml-8">Project: Live Audio Visualization Program – Created using the JavaScript library p5.js for the concert Beats & Bits, 24th show of the 2022 season, IMUC (PUC).</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="font-bold my-6">VOLUNTEERING</h4>
                    <div>
                        <h5 class="font-bold">
                            Researcher, ​​UN DESA Division for Public and Digital Government | remote
                        </h5>
                        <span class="bloo">
                            June 2021 — October 2021
                        </span>
                        <ul>
                            <li>
                                <p class="p-color ml-8 my-2">Conducting assessment of national and city-evel public sector portals and their associated official website</p>
                            </li>
                            <li>
                                <p class="p-color ml-8">
                                    Contribute to data and case studies research for the UN E-Gov Survey
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="font-bold mt-4">Researcher, Cameroon Association of Active Youths | remote</h5>
                        <span class="bloo">May 2021  —  September 2021</span>
                        <ul>
                            <li>
                                <p class="p-color ml-8 my-2">Established guidelines of avocado production to be used by the Cameroon Association of Active Youths (CAMAAY)</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h4 class="font-bold my-6">EDUCATION</h4>
                    <h5 class="font-bold">PONTIFICIA UNIVERSIDAD CATÓLICA DE CHILE</h5>
                    <span class="bloo">2015 - 2021</span>
                    <p class="p-color">Ing. Agrónomo</p>
                </div>
                <div>
                    <h6 class="font-bold mt-6">SKILLS:</h6>
                    <p class="p-color mb-12">HTML, CSS, JavaScript, TypeScript, React, Node, Express, MongoDB, PostgreSQL, Astro and Svelte ❤️. This site was made with Astro and Svelte integration with some Tailwind but the styling is mostly pure CSS.</p>
                </div>
            </section>
        </div>
    </main>
</Layout>

<style>
    .bloo {
        color: rgb(110, 181, 228);
    }

    .p-color {
        color: var(--paragraph);
    }
    @media (min-width: 50em) {
		main {
			margin-left: 20%;
		}
	}
</style>